body {
  font-family: "Fjord One", serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #fff;
  color: #333;
  margin: 0 auto 300px;
  width: 900px;
  transition: background-color 0.7s;
}

* {box-sizing: border-box;}
a {text-decoration: none;}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  padding: 30px 40px;
  transition: all 1s ease;
}

.hidden {
  transform: translateY(-100%);
}

h1 {
  margin: 0;
  float: left;
  font-size: 18px;
  font-weight: 700;
}

nav {
  float: right;
}

nav a {
  color: #333;
  border-bottom: 1px solid rgba(255,255,255,0);
  margin-left: 15px;
}

nav a:hover {
  color: #ABDFE8;
  font-weight: 700;
  border-bottom: 1px solid #ABDFE8;
  transition: all 0.2s;
}

section {
  padding: 100px 0;
}

section img {
  width: 900px;
  height: 600px;
}

.progress {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.bar {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 3px;
  background-color: #ABDFE8;
}
